::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--bs-primary);
    width: 5px;
    border-radius: 0.32rem;
}
::-webkit-scrollbar-track {
    background: var(--bs-secondary);;
}

:root {
    --cardWidth: 200px;
    --cardHeight: calc( var(--cardWidth) * 1.75 );
    --cardMargin: 3px;
    
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

}

html { scroll-behavior: smooth; }

body {
	font-family: "Roboto", sans-serif;
	height: 100vh;
}


/* Screen for mobile */
@media only screen and (max-width:800px){

    footer,
    .breadcrumb-nav {
        display: none !important;
    }

    .navbar {
        position: fixed;
        bottom: 0px;
        height: 40px;
        padding: 0px !important;
    }

    .navbar .links {
        width: 100% !important;
    }
    .navbar .links .navbar-nav{
        display: flex;
        flex-direction:row !important;
        flex-grow: 1 !important;
        justify-content: center;
    }

    .navbar .links .navbar-nav .nav-item .active{
        background: #333;
    }
    .navbar .links .navbar-nav .nav-item a{
        display: block;
        line-height: 30px;
        list-style-type: none;
        padding: 10px 15px 10px 15px;
    }
    
    .search-button {
        display: block;
        position: fixed;
        bottom: 1.4lh;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 100;
        box-shadow: rgba(0,0,0,.16) 0 3px 6px, rgba(0,0,0,.23) 0 3px 6px;
    }

    .navbar .links .navbar-nav .nav-item:nth-child(2) {
        border-left: 1px dashed #666;
        border-right: 1px dashed #666;
    }


    .navbar .navbar-title {
        display: none !important;
    }

    .navbar .links .search-form {
        display: none;
        position: absolute !important;
        bottom: 3lh !important;
        left: 50%;
        width: 80%;
        transform: translate(-50%, 0);
        background: rgba(0,0,0,0.4);
        border-radius: 10px;
        z-index: 105;
        /*display: none !important;*/
    }
    .search-form select {
        width: 300px;
    }

    .navbar
    .hero-container.blocks .ticket__movie-episodedata,
    .hero-container.blocks .ticket__movie-completed,
    .hero-container.blocks .ticket__movie-date,
    /*.hero-container.blocks .ticket__movie-title,*/
    /*.hero-container.blocks .ticket__movie-next,*/
    .hero-container.blocks .ticket__movie-overview,
    .hero-container.blocks .ticket__movie-network{
        display:none;
    }
    
    .hero-container.blocks .ticket__movie-next{
        background: #fff;
        color: #000;
        opacity: 1;
        position: absolute;
        font-size: 6px;
        text-align: center;
        padding: 2px 5px;
        margin: 10px 0px 0px 5px;
        border-radius: 3px;
        box-shadow: rgba(0,0,0,.16) 0 3px 6px, rgba(0,0,0,.23) 0 3px 6px;
    }

    .hero-container.blocks .ticket__movie-title{
        width: 100%;
        background: #000;
        color: #fff;
        bottom: 0px;
        opacity: 0;
        position: absolute;
        text-align: center;
    }

    .hero-container.blocks .main-container:hover .ticket__movie-nexts,
    .hero-container.blocks .main-container:hover .ticket__movie-title{
        opacity: 1;
    }

    .hero-container.blocks .main-container{
        max-width: calc(100vw / 3.5);
        height: calc((100vw / 3.5) * 1.5);
        margin: 1px; 
        border-radius: 5px;
    }

    .hero-container.blocks .poster-container img {
        height: 100%;
        width: 100%;
        overflow: hidden;
        object-fit:cover;
        object-position: top;
    }

    .hero-container.blocks .watchlist-ribbon{
        position: absolute;
        top: 0px;
        right: 10px;
        transition:opacity 0.3s ease-in-out;
        opacity: 0;
        z-index: 6;
    }

    .hero-container.blocks .share-ribbon {
        display: none;
    }

    .hero-container.blocks .watchlist-ribbon .watchlist-ribbon__icon{
        width: 10px;
        text-align: center;
    }
    
    .hero-container.blocks .watchlist-ribbon .watchlist-ribbon__bg,
    .hero-container.blocks .watchlist-ribbon .watchlist-ribbon__bg-remove{
        display: none;
        transition: all 0.3s ease-in-out;
        fill: rgba(255,255,255,0.3);
    }
}

/* Screens bigger than Mobile */
@media only screen and (min-width:801px){

    .search-button {
        display: none;
    }

    .navbar .links .search-form {
        display: block;
    }

    .breadcrumb-nav {
        height: 40px;
    }

    .hero-container.blocks .ticket__movie-overview {
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
    }

    .hero-container.blocks .main-container{
        /*width: var(--cardWidth);*/
        width: calc( var(--cardWidth) * 0.85 );
        max-width: calc( var(--cardWidth) * 4 ) ;
        height: var(--cardHeight);
        margin: var(--cardMargin);
        border-radius: 10px;
    }

    .hero-container.blocks .poster-container img {
        height: calc( var(--cardHeight) * 0.85 );
        width: 100%;
        overflow: hidden;
        object-fit:cover;
        object-position: top;
    }

    .hero-container.blocks .ticket__movie-completed,
    .hero-container.blocks .ticket__movie-next {
        position: absolute;
        z-index: 4;
        color: #000;
        background: #fff;
        font-size: .7rem;
        min-width: 1rem;
        font-weight: 700;
        padding: 0.3rem 0.5rem;
        right: 0.5rem;
        border-radius: 0.25rem;
        box-shadow: rgba(0,0,0,.16) 0 3px 6px, rgba(0,0,0,.23) 0 3px 6px;
    }

    .hero-container.blocks .ticket__movie-completed {
        top: 1lh;
    }
    .hero-container.blocks .ticket__movie-next {
        top: 3lh;
    }


    .main_search {
        width: 35vw;
    }

    .hero-container.blocks .share-ribbon,
    .hero-container.blocks .watchlist-ribbon{
        position: absolute;
        text-align: center;
        top: 0px;
        transition:opacity 0.3s ease-in-out;
        opacity: 0;
        z-index: 6;
    }

    
    .hero-container.blocks .share-ribbon{
        right:  45px;
    }
    .hero-container.blocks .watchlist-ribbon{
        right: 0px;
    }

    .hero-container.blocks .share-ribbon .share-ribbon__icon,
    .hero-container.blocks .watchlist-ribbon .watchlist-ribbon__icon{
        position: absolute;
        top: 0.25em;
        right: 0.30em;
        font-size: 25px;
    }
    
    .hero-container.blocks .share-ribbon .share-ribbon__bg,
    .hero-container.blocks .watchlist-ribbon .watchlist-ribbon__bg,
    .hero-container.blocks .watchlist-ribbon .watchlist-ribbon__bg-remove{
        width: 40px;
        transition: all 0.3s ease-in-out;
        fill: rgba(255,255,255,0.3);
    }


    .hero-container.blocks .main-container .ticket__movie-details{
        display: block;
        background:#333;
        height: 100%;
        text-align: left;
    }

    .hero-container.blocks .main-container .ticket__movie-title{
        display: block;
        font-size: 1.2em;
        height: 1lh;
        text-align:left;
        padding: 5px 10px 0px 10px;
        overflow: hidden;      
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .hero-container.blocks .main-container .ticket__movie-episodedata{
        margin-top: 5px;
        display: block;
        text-align:left;
        color: #777;
        font-weight: bolder;
        text-align: center;
    }

    .hero-container.blocks .main-container .ticket__movie-network,
    .hero-container.blocks .main-container .ticket__movie-date{
        position: absolute;
        margin-top: -2lh;
        color: #000;
        background: #fff;
        font-size: .7rem;
        min-width: 1rem;
        font-weight: 700;
        padding: 0.3rem 0.5rem;
        border-radius: 0.25rem;
        box-shadow: rgba(0,0,0,.16) 0 3px 6px, rgba(0,0,0,.23) 0 3px 6px;
    }

    .hero-container.blocks .main-container .ticket__movie-network{
        left: 0.5rem;
    }
    .hero-container.blocks .main-container .ticket__movie-date{
        right: 0.5rem;
    }

    .navbar .links {
        display: flex!important;
        flex-basis: auto;
        flex-grow: 1;
        align-items: center;
    }

    footer {
        position: relative;
        z-index: 99;
    }

}

#scroll-top-button{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 60px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
}

/* Select Styles */
.select2-results__options{
    max-height: 400px !important;
}
.select2-result-tv.logo>img{
    height: 60px;
    border-radius: 5px;
}

.select2-result-tv.logo {
    margin-left: 10px;
}
.select2-result-tv.network {
    margin-left: 10px;
    font-weight: bold;
}

.select2-result-tv.id{
    font-size: 10px;
    display: block;
}

.select2-result-tv.show_name{

    font-weight: bold;
    display: block;
}

.select2-result-tv-data div {
    display: inline-block;
}

.select2-result-shows{

    width: 100%;
}

ul.select2-results__options li:nth-child(even){
	background-color: var(--bs-gray-200);
	color: black;
}
ul.select2-results__options li:hover{
	background-color: var(--bs-secondary) !important;
	color: white;
}

/* Navbar Styles */
#top-bar-nav {
    transition: all 1s ease-in-out;
    z-index: 99;
}

.nav-item .active{
    font-weight:900;
}

.navbar-nav a {
    color: #fff !important;
}

/* Breadcrumbs Styles */



.breadcrumb h2  {
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
}

.breadcrumb i:hover {
    color: var(--bs-primary);
}

.hero-container.blocks, .hero-container.rows {
	margin: auto;
    cursor: pointer;
    min-height: 100vh;
}

.hero-container.blocks {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    background: #bbb;
    width: 100%;
    height: 100%;
    align-content: flex-start;
}

/* Cards Blocks Styles */
.hero-container.blocks .main-container {
    overflow:hidden;
    background: #000;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    color: #fff;
    position: relative;
    font-size: 0.8em !important;
    flex-grow: 1;
}

.hero-container.blocks .poster-container {
    overflow: hidden;
}

.hero-container.blocks .main-container:hover {
    transform: scale(1.05);
    z-index: 5;
    border: 3px solid var(--bs-primary);
}

.hero-container.blocks .main-container:active {
    transform: scale(0.9);
}

.hero-container.blocks .ticket__movie-overview {
    position:absolute;
    opacity: 0;
    text-align: justify;
    padding: 50px 20px 40px 20px;
    background: rgba(0,0,0,0.8);
    transition: opacity 0.5s ease-in-out;
    font-size: 1em;
    height: 100%;
    overflow: hidden;      
    -o-text-overflow: ellipsis;
    text-overflow:ellipsis;
    color: #fff;
    z-index: 4;
}

.hero-container.blocks .main-container .ticket__movie-details{
    display: block;
}

.hero-container.blocks .share-ribbon:hover .share-ribbon__bg{
    fill: var(--bs-primary);
}
.hero-container.blocks .watchlist-ribbon:hover .watchlist-ribbon__bg{
    fill: var(--bs-success);
}

.hero-container.blocks .watchlist-ribbon:hover .watchlist-ribbon__bg-remove{
    fill: var(--bs-danger);
}

.hero-container.blocks .main-container:hover .share-ribbon,
.hero-container.blocks .main-container:hover .watchlist-ribbon{
    opacity: 1;
}

.hero-container.blocks .main-container:hover .ticket__movie-overview  {
    opacity: 1;
}

/* Cards Rows Styles */
